In [143]:
import matplotlib.pyplot as plt
import datetime

# Sample Code

## 基礎建設

In [1]:
import pandas as pd
import gzip, json

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

## 載入資料

In [2]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty.csv
!wget http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles2/meta_All_Beauty.json.gz

--2021-12-23 12:31:30--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/All_Beauty.csv
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15499476 (15M) [application/octet-stream]
Saving to: ‘All_Beauty.csv’

All_Beauty.csv      100%[===================>]  14.78M  39.2MB/s    in 0.4s

2021-12-23 12:31:30 (39.2 MB/s) - ‘All_Beauty.csv’ saved [15499476/15499476]

--2021-12-23 12:31:30--  http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles2/meta_All_Beauty.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10329961 (9.9M) [application/octet-stream]
Saving to: ‘meta_All_Beauty.json.gz’

meta_All_Beauty.jso 100%[===================>]   9.85M  33.6MB/s    in 0.3s

2021-12-23 12:31:31 (33.6 MB/s) - ‘meta_All_Beauty.json.gz’ saved [10329961/10329961]

In [3]:
metadata = getDF('/content/meta_All_Beauty.json.gz')
ratings = pd.read_csv('/content/All_Beauty.csv', names=['asin', 'reviewerID', 'overall', 'unixReviewTime'], header=None)

In [4]:
metadata.head()

  category  ...                                    imageURLHighRes
0       []  ...                                                 []
1       []  ...                                                 []
2       []  ...                                                 []
3       []  ...  [https://images-na.ssl-images-amazon.com/image...
4       []  ...  [https://images-na.ssl-images-amazon.com/image...

[5 rows x 19 columns]

In [5]:
ratings.head()

         asin      reviewerID  overall  unixReviewTime
0  0143026860  A1V6B6TNIC10QE      1.0      1424304000
1  0143026860  A2F5GHSXFQ0W6J      4.0      1418860800
2  0143026860  A1572GUYS7DGSR      4.0      1407628800
3  0143026860   A1PSGLFK1NSVO      5.0      1362960000
4  0143026860   A6IKXKZMTKGSC      5.0      1324771200

## 資料整理

In [6]:
ratings['DATE'] = pd.to_datetime(ratings['unixReviewTime'], unit='s')

## 資料切分

In [7]:
ratings_trainings = ratings[
    (ratings['DATE'] < '2018-09-01')
]
ratings_testings = ratings[
    (ratings['DATE'] >= '2018-09-01') & 
    (ratings['DATE'] <= '2018-09-30')
]
ratings_testings_by_user = ratings_testings.groupby('reviewerID').agg(list).reset_index()[['reviewerID', 'asin']].to_dict('records')
ratings_testings_by_user = { rating['reviewerID']: rating['asin'] for rating in ratings_testings_by_user }
users = list(ratings_testings_by_user.keys())

In [131]:
ratings_trainings

              asin      reviewerID  overall  unixReviewTime       DATE
0       0143026860  A1V6B6TNIC10QE      1.0      1424304000 2015-02-19
1       0143026860  A2F5GHSXFQ0W6J      4.0      1418860800 2014-12-18
2       0143026860  A1572GUYS7DGSR      4.0      1407628800 2014-08-10
3       0143026860   A1PSGLFK1NSVO      5.0      1362960000 2013-03-11
4       0143026860   A6IKXKZMTKGSC      5.0      1324771200 2011-12-25
...            ...             ...      ...             ...        ...
371340  B01HJEGTYK  A202DCI7TV1022      1.0      1500508800 2017-07-20
371341  B01HJEGTYK  A3FSOR5IJOFIBE      5.0      1489622400 2017-03-16
371342  B01HJEGTYK  A1B5DK6CTP2P24      5.0      1488326400 2017-03-01
371343  B01HJEGTYK  A23OUYS5IRMJS9      2.0      1487635200 2017-02-21
371344  B01HJEGTYK  A24KQ9RVU81L87      2.0      1481760000 2016-12-15

[370752 rows x 5 columns]

In [ ]:
ratings[
    (ratings['DATE'] >= '2018-09-01') & 
    (ratings['DATE'] <= '2018-09-30')
]

In [ ]:
ratings_trainings.groupby(by=['asin']).size()

In [ ]:
ratings_trainings.groupby(by=['asin']).mean()['overall']

## 產生推薦

In [123]:
def recommender(training_data, users=[], k=10):
    '''
    * training_data: dataframe 輸入的訓練資料集（2018-09-01 以前資料）
    * users: [] 需要被推薦的使用者
    * k: int 每個使用者需要推薦的商品數
    * recommendations: dict
      {
          使用者一： [推薦商品一, 推薦商品二, ...],
          使用者二： [...], ...
      }
    '''
    recommendations = {}
    '''
    Your Code
    metadata!! (make use of it)
    
    training_by_user = training_data.groupby('reviewerID').agg(list).reset_index()[['reviewerID', 'asin']].to_dict('records')
    training_by_user = { rating['reviewerID']: rating['asin'] for rating in training_by_user }
    return training_by_user
    '''
    
    re=list(training_data['asin'].value_counts().keys())[:k]

    return {user: re for user in users}
      
    #ratings_trainings = training_data
    #recommendations = {user: ratings_trainings['asin'].sample(n=k).tolist() for user in users}
    #return recommendations


ratings_by_user = recommender(ratings_trainings, users,k=10)
#ratings_by_user

## 結果評估

In [158]:
def evaluate(ratings_testings_by_user={}, ratings_by_user={}, method=None):
    '''
    * ratings_testings_by_user: dict 真實被購買的商品資料（2018-09-01 以後資料）
    * ratings_by_user: dict 利用訓練資料學習的推薦商品
    * method: str
    * score: float
    '''
    total = 0
    for d in ratings_testings_by_user:
        if d in ratings_by_user:
            total += len(set(ratings_by_user[d]) & set(ratings_testings_by_user[d]))

    score = total / len(ratings_testings)
    return score

evaluate(ratings_testings_by_user, ratings_by_user)

0.08305084745762711

In [176]:
t=ratings_trainings[
    (ratings_trainings['DATE'] >= '2018-08-01') & 
    (ratings_trainings['DATE'] < '2018-09-01')
]
evaluate(ratings_testings_by_user, recommender(t, users,10))

0.15423728813559323

In [ ]:
x=[x for x in range(1,101)]
y=[evaluate(ratings_testings_by_user, recommender(ratings_trainings, users,k)) for k in range(1,101)]
plt.plot(x,y)